body {
    background-color: #ffffff;
}

#navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

hr {
    background-color: #333;
    height: 1px;
    margin: 16px;
}

#navbar-open-icon {
    cursor: pointer;
}

#navbar-close-icon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}

#navbar a {
    padding: 4px 8px 4px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#project-detail {
    display: none;
}

#project-title {
    padding: 0;
}

#project-tags {
    padding: 8px;
    margin-bottom: 0;
}

#project-description {
    padding: 0;
}

.grid-item {
    padding: 8px;
    width: 25%;
}

.grid-item[data-cq~="max-width:700px"] {
    width: 100%;
}

.grid-item[data-cq~="min-width:700px"] {
    width: 50%;
}

.grid-item[data-cq~="min-width:1024px"] {
    width: 33.33%;
}

.grid-item[data-cq~="min-width:1216px"] {
    width: 25%;
}

.grid-item[data-cq~="min-width:1408px"] {
    width: 20%;
}

.columns {
    margin: 0;
}

.pin-edit-icon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}

.pin-delete-icon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 48px;
}

.pin .pin-tags {
    margin-top: -1.25em;
}

#sidebar-1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
}

#sidebar-1-open-icon {
    cursor: pointer;
}

#sidebar-1-close-icon {
    display: none;
    cursor: pointer;
}

#pin-form-carousel {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#pin-form-carousel::-webkit-scrollbar {
    height: 0;
}

#pin-form-images {
    display: flex;
    grid-gap: 8px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.pin-form-images-item {
    height: 64px;
    width: 64px;
    background: transparent;
    margin: 2px;
    object-fit: cover;
    border-radius: 8px;
}

#sidebar-1 textarea,
#project textarea {
    border-style: none;
    border-color: transparent;
    /* overflow: auto; */
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.tags-input,
.is-focused.tags-input,
.is-active.tags-input {
    border: none;
    box-shadow: none;
}

.tags-input .input {
    margin: 0;
}

#sidebar-2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
}

#sidebar-2-max {
    cursor: pointer;
}

#sidebar-2-min {
    display: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #F06060;
}