body {
    background-color: #4a4a52;
}

a:hover,
a:visited,
a:link,
a:active {
    color: black;
    text-decoration: none;
}

.close-icon {
    width: 10px;
    height: 10px;
    position: relative;
    top: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.pin {
    background-color: #F5EEDC;
    max-width: 256px;
    margin: 8px;
}

.card-title {
    display: inline;
    margin: 8px;
}

.card-body {
    padding: 8px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #F06060;
}