body {
    width: 850px;
    height: 700px;
    background-color: #ffffff;
}

body {
    margin: 16px;
}

#wrapper {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#i-images {
    display: flex;
    grid-gap: 8px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item {
    height: 64px;
    width: 64px;
    background: transparent;
    margin: 2px;
    object-fit: cover;
    border-radius: 8px;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags-input,
.is-focused.tags-input,
.is-active.tags-input {
    border: none;
    box-shadow: none;
}

#add-pin-form textarea {
    border-style: none;
    border-color: transparent;
    /* overflow: auto; */
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.tags-input .input {
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #F06060;
}